#navBar{
    width: 80%;
    margin: auto;
    display: flex;
    justify-content: space-around;
    margin-top: 1%;
}
#navBar>a{
    font-size: 20px;
    text-decoration: none;
}
#card{
    /* border: 1px solid red; */
    width: 500px;
    padding: 20px;
    margin: auto;
    margin-top: 2%;
    text-align: center;
}
#card>p{
    margin: 1%;
}
#card>h3{
    margin: 0%;
    /* text-align: center; */
}